# Compilation of Ledger's app
src/glyphs.c
src/glyphs.h
bin/
build/
debug/
dep/
obj/

# Unit tests and code coverage
tests/functional/snapshots-tmp/
tests/unit-tests/build/
tests/unit-tests/coverage/
tests/unit-tests/coverage.info

# Editors
.idea/

# Python
*.pyc[cod]
*.egg
__pycache__/
*.egg-info/
.eggs/
.python-version

# Doxygen
doc/html
doc/latex

dep/
.vscode/settings.json
